.main {
	width: 80%;
}

input {
	float: right;
	width: 72%;
}

#header {
	width: 64%;
	margin-left: 18%;
}

#image_holder {
	width: 80%;
	margin-left: 10%;
	margin-top: 50px;
	font-size: 2.5em;
}

#kermit {
	width: 100%;
	height: auto;
}

.entry_row {
	margin-bottom: 20px;
}

#buttons {
	margin-top: 30px;
}

#error_message {
	display: none;
	color: red;
	text-align: center;
}

#thanks {
	display: none;
	text-align: center;
}